services:
  portfolio_db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: PaSsWoRd
      MYSQL_DATABASE: portfolio_db
    ports:
      - "3306:3306"
    volumes:
      - portfolio_db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      portfolio_db:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql+pymysql://root:PaSsWoRd@db/portfolio_db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  portfolio_db_data: